.load-component {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
}

.load-component-wrap
{
  position: absolute;
  top: 50%;
  left: 50%;
}